/viikko4/TyhjaProjekti/.nb-gradle/
/viikko4/WebLogin/.nb-gradle/
/viikko5/MockitoDemo/.nb-gradle/
/viikko5/MockitoDemo/build/
/viikko5/MatkakorttiMockito/.nb-gradle/
/viikko5/MatkakorttiMockito/build/
/viikko5/VerkkokauppaSpring/.nb-gradle/
/viikko5/VerkkokauppaSpring/build/
/viikko5/IntJoukkoSovellus/.nb-gradle/
/viikko5/IntJoukkoSovellus/build/